.about {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.about-header {
    margin-left: 0;
    text-align: center;
}

.boarding-header {
    margin-left: 0;
    text-align: center;
}
body {
    background-color: var(--main-color);
    padding: 2%;
}

.business-name {
    color: var(--accent-color);
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 2%;
    text-align: center;
}

.business-name-subheading {
    font-size: 2.5em;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

.business-type {
    border-bottom: 1px solid black;
    color: var(--secondary-color);
    text-align: right;
}

button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2%;
    color: var(--accent-color);
    font-size: x-large;
    min-width: 40%;
    padding: .75%;
}

button:hover {
}

.button-group {
    display: flex;
    justify-content: center;
}

.contact-us-info {
    width: 25%;
}

.contact-us-column-one {
    display: column;
    justify-items: center;
    max-width: 25%;
}

.dog-image {
    min-width: 1em;
    min-height: 1em;
    max-height: 5em;
    max-width: 5em;

    object-fit: cover;
}

.email {
    display: flex;
    align-items: center;
    gap: 1em;
}

h2 {
    margin-left: 4.75%;
    color: var(--secondary-color);
}

h3 {
    color: var(--secondary-color);
}

h4 {
    color: var(--secondary-color);
}
header {
    background-color: var(--main-color);
}

.hours {
    display: column;
    text-align: center;
    width: 25%;
}
html {
    margin: var(--page-margin);
    background-color: var(--secondary-color);
    color: var(--accent-color)
}

.image-collection {
    background-color: var(--accent-color);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 2%;
    max-width: fit-content;
    width: 98%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.location {
    display: column;
    text-align: center;
    align-items: center;
    width: 25%;
}

.phone {
    display: flex;
    align-items: center;
    gap: 1em;
}
.services {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.service-and-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.service-and-rate-description {
    text-align: center;
}
/* .rates {
    width: 40%;
} */

:root {
    --page-margin: 2%;
    /* --secondary-color: #00008b; */
    --secondary-color: darkblue;
    /* --main-color: #ffbfcabf; */
    --main-color: hotpink;
    --accent-color: white;
}

.services-rates-columns {
    display: flex;
    justify-content: space-around;
}

.services-heading, .rates-heading {
    margin-left: 0;
} 