.about {
    left: 10%;
    position: relative;
    width: 50%;
}

.business-name {
    color: white;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
}

.button-group {
    margin-left: 4.75%;
}

.dog-image {
    min-width: 1em;
    min-height: 1em;

    object-fit: cover;
}

footer {
    margin-left: 4.75%;
}

h2 {
    margin-left: 4.75%;
    color: var(--text-color);
}

header {
    background-color: pink;
}

html {
    margin: var(--page-margin);
    background-color: var(--main-color);
}

.image-collection {
    background-color: white;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 2%;
    max-width: fit-content;
    width: 98%;
}

.services {
  width: 40%;
}

.rates {
    width: 40%;
}

:root {
    --page-margin: 2%;
    --text-color: #00008b;
    --main-color: #ffbfcabf;
}

.services-rates-columns {
    display: flex;
    justify-content: space-around;
}

.services-heading, .rates-heading {
    margin-left: 0;
} 